.pagination{
    padding-left:0;
    margin:20px;
    width: 297px;
    height: 97px;
    top: 0;
    display: inline-block;
    float: right;
    border-radius:4px;
}


.pagination li{
    display:inline;
}

.pagination li a,
.pagination li span{
    float:left;
    margin-left: 10px;
    padding:4px 8px;
    color: rgb(86,200,243);
    line-height:1.428571429;
    text-decoration:none;
    background-color:#fff;
    border:1px solid rgb(86,200,243);
    border-radius:4px;
}

.pagination li a:hover,
.pagination li a:focus,
.pagination .active a,
.pagination .active span{
    color: white;
    background-color:rgb(84,181,231);
}

.pagination .active a,
.pagination .active span{
    color: white;
    cursor:default;
    background-color:rgb(84,181,231);
}

.pagination .disabled span,
.pagination .disabled a,
.pagination .disabled a:hover,
.pagination .disabled a:focus{
    color:#999;
    cursor:not-allowed;
    background-color:#fff
}

.pagination-large li a,
.pagination-large li span{
    padding:14px 16px;
    font-size:18px;
    border-radius:6px;
}


.pagination-small li a,
.pagination-small li span{
    padding:5px 10px;
    font-size:12px;
    border-radius:3px;
}

